numpy~=1.22.3
scikit-learn~=1.0.2
scipy~=1.8.0
matplotlib~=3.5.1
sphinx
sphinx_gallery
sphinx_rtd_theme
sphinxcontrib.bibtex
sphinx_copybutton
numpydoc
pillow
setuptools~=60.2.0
cython~=0.29.28
pytest
graphviz~=0.20
pytest-cov
gurobipy
cvxpy
pandas~=1.4.2
pip~=21.3.1
wheel~=0.37.1
py~=1.11.0
tornado~=6.1
docutils~=0.17.1